@model IEnumerable<AdoptDevMVC.Models.ContractModel>

@{
    ViewData["Title"] = "ListContract";
}

<h1>Liste des contrats</h1>

<p>
    <a asp-action="CreateContract">Créer un contrat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Rémunération</th>
            <th>Date de fin</th>
            <th>Client</th>
            <th>Développeur</th>
            <th>Contacter Développeur</th>
            <th>Skills BDD</th>
            <th>Skills Backend</th>
            <th>Skills Frontend</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>@item.DeadLine.ToString("dd MMMM yyyy")</td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevName)
            </td>
            <td>
                <a href="@string.Format("mailto:{0}", item.DevEmail)">@item.DevEmail</a>
            </td>
            @if (item.NeededSkillList != null)
            {
                foreach (var categoryList in item.NeededSkillList)
                {
                    if (categoryList.CategoryName == "Base de données")
                    {
                        <td>@categoryList.SkillName</td>
                    }
                }
                foreach (var categoryList in item.NeededSkillList)
                {
                    if (categoryList.CategoryName == "Backend")
                    {
                        <td>@categoryList.SkillName</td>
                    }
                }
                foreach (var categoryList in item.NeededSkillList)
                {
                    if (categoryList.CategoryName == "Frontend")
                    {
                        <td>@categoryList.SkillName</td>
                    }
                }
            }
            else
            {
                <td></td>
                <td></td>
                <td></td>
            }

            <td>
                @Html.ActionLink("Editer", "EditContract", new { item.Id }) |
                @Html.ActionLink("Effacer", "DeleteContract", new { item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
